@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.bodyhome{
    position: relative;
    margin: 0;
    background-color: #02BAEE;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerHome{
    width: 70%;
    height: 90vh;
}
.sectionHome{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageHome{
    height: 100%;
    width: 100%;
    background-image: url("../../imagens/imageHome.png");
    border-radius: 10px  10px 70px 10px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.FormHome{

    height: 100%;
    border-radius: 70px  10px 70px 10px;
    background-color: #fff;
    width: 50%;
}
.Formulario{
    padding: 70px 0 0 0;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    color: #0C4F6C;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}