/* Estilos gerais para a página de configurações */
.configuracoes-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  margin-left: 70px;
  margin-top: 0;
}

.menu-lateral1 {
  display: flex;
  flex-direction: column;
}

.menu-lateral1 h3 {
  margin-bottom: 20px;
  color: #0C4F6C;
}

.menu-lateral1 ul {
  list-style: none;
  padding: 0;
}

.menu-lateral1 li {
  margin-top: 10px;
}

.menu-lateral1 li a {
  text-decoration: none;
  color: #0C4F6C;
  padding: 8px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu-lateral1 li a:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .configuracoes-container {
    width: 100%;
    margin-left: 0;
  }
}
